# Ignore les fichiers de configurations de VS code
.vscode/

# Ignore les fichiers de configuration d'Eclipse
.classpath
.project
.settings/

# Ignore les fichiers de configuration d'Intellij
.idea/
*.iml
*.iws

# Ignore les fichiers produits par Maven pour ne versionner que le code,
# pas les executables ou les logs.
log/
target/

*.class

# Python files
**/__pycache__/
*.pyc

unsloth_compiled_cache/
_unsloth_temporary_saved_buffers/
_unsloth_sentencepiece_temp/
outputs/
img/
test_res/
gguf_model/
saved_model/
merged_model/
to_del/